/* styles.css */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set main container to 100% of viewport height */
  }

.voting-container {
    text-align: center;
    margin-top: 20px;
    background-image: url('../../assets/img/pokertable.jpg'); /* Replace 'background-image.jpg' with your image file name */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image within the container */
    height: 100vh; /* Make container full height of viewport */
    width: 70%;
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    flex-direction: column;
    /* Add any additional styling as needed */
  }

.voting-container h2,
.voting-container p {
    color: #ffffff; /* Set text color to white */
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #cccccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.card-button:hover {
    background-color: #f0f0f0;
}
  
.card-button.selected {
    background-color: #ffcc00;
    color: #ffffff;
    border-color: #ffcc00;
}

.validate-button {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #ff0f8f;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.validate-button:hover {
    background-color: #830174; /* Darker shade of yellow on hover */
}

app-header {
    z-index: 1000;
}
  