<app-header></app-header>
<body>
    <main>
        <section id="cta" class="about">
            <div class="container">
                <button>New Room</button>
                <br><br>
            </div>
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Room ID</th>
                        <th>Room Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Final Complexity</th>
                        <th>Description</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let room of rooms">
                        <td>{{room.roomId}}</td>
                        <td>{{room.roomName}}</td>
                        <td>{{room.startDate}}</td>
                        <td>{{room.endDate}}</td>
                        <td>{{room.finalComplexity}}</td>
                        <td>{{room.description}}</td>
                        <td>{{room.status}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
<app-footer></app-footer>
