<app-header></app-header>

<div class="example-container-wrapper">
<div cdkDropListGroup>
  

  <div class="example-container">
    <div class="example-column">
      <h2>To Do</h2>
      <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of todo" class="example-box" cdkDrag>{{ item }}</div>
      </div>
    </div>
 
    <div class="example-column">
      <h2>In Progress</h2>
      <div cdkDropList [cdkDropListData]="inProgress" class="example-list" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of inProgress" class="example-box" cdkDrag>{{ item }}</div>
      </div>
    </div>
  
    <div class="example-column">
      <h2>Done</h2>
      <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of done" class="example-box" cdkDrag>{{ item }}</div>
      </div>
    </div>
  </div>
  
</div>
</div>
<app-footer></app-footer>