<body [style.background-image]="'url(./assets/img/backgroud1.jpg)'">

<div style="display: flex;   justify-content: center;
  align-items: center; margin-top: 150px;">
  <h1  style="color: white;" > full screen : </h1>
  <span  class="icon" [style.background-image]="'url(./assets/img/fullscreen.png)'" style="height: 50px; width: 50px;" (click)="requestFullscreen()"></span>
</div>

<div style="display: flex;   justify-content: center;
  align-items: center;">
  <h1  style="color: white;" > sound : </h1>
  <span  class="icon" [style.background-image]="'url(./assets/img/soundon.png)'" style="height: 50px; width: 50px;" (click)="soundon()"></span>
  <span  class="icon" [style.background-image]="'url(./assets/img/soundoff.png)'" style="height: 50px; width: 50px;" (click)="soundoff()"></span>



</div>

<div style="display: flex;   justify-content: center;
  align-items: center;">
  <h1  style="color: white;" > langagues : </h1>

</div>
</body>
